name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
  build-and-deploy:
    # Make sure that we only run this when the source branch is not "release"
    if: github.ref != 'refs/heads/release'
    runs-on: ubuntu-latest
    steps:

    - name: dump github context
      env:
        GITHUB_CONTEXT: ${{ toJson(github) }}
      run: echo "$GITHUB_CONTEXT"

    - uses: actions/checkout@v3

    - name: Calculate SHA
      run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

    - name: Login to registry
      uses: docker/login-action@v3
      with:
        registry: ${{secrets.REGISTRY_URL}}
        username: ${{secrets.REGISTRY_USER}}
        password: ${{secrets.REGISTRY_PASSWORD}}

    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        push: true
        tags: ${{secrets.REGISTRY_URL}}/share:${{ env.SHORT_SHA }}
        build-args: |
          SHORT_SHA=${{ env.SHORT_SHA }}

    - name: Prepare release PR
      run: |
        git config user.email "torvalds@linux-foundation.org"
        git config user.name "Torvalds CI"
        git branch -d release || true
        git checkout -b release
        yq e '.spec.template.spec.containers[0].image = "${{secrets.REGISTRY_URL}}/share:${{ env.SHORT_SHA }}"' -i k8s/deployment.yaml
        git add k8s/deployment.yaml
        git commit -m '[no ci] Update image for release'
        git push --force --set-upstream origin release

    - name: Create PR
      uses: devops-infra/action-pull-request@v0.5.5
      with:
        author: "Torvalds CI <torvalds@linux-foundation.org>"
        title: "I think you should merge this"
        body: |
          LGTM

          Linus
        source_branch: release
        target_branch: master
        github_token: ${{ secrets.GITHUB_TOKEN }}
